* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background: url("../images/bg2.jpg");

  background-repeat: no-repeat;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
.headerLink{
    margin-left: 25px;
    font-size: 40px;
}
.form{
    display: flex;
    flex-direction: column;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
/* .header:before {
  content: "";
  width: 100%;
  height: 30vh;
  position: absolute;
  top: 0px;
  left: 0px;

  background-image: linear-gradient(90deg, #1f2937, #111927);
  opacity: 0.4;
} */

.container {
  width: 80%;
  margin: auto;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title {
  padding: 10px;
  color: #82bf45;
}

.text {
  color: #17a3ac;
  font-size: 17px;
}

.characters {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  width: 30%;
  background-color: #acb96a;
  margin: 10px;
  display: flex;
  border-radius: 4px;
  box-shadow: 4px 5px #d9e5d6;
}

img {
  width: 50%;
}

.character {
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name {
  font-size: 30px;
  color: #82bf45;
}

.specie {
  text-align: center;
  padding: 5px;
  background-color: #364150;
  color: white;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 19px;
  margin: 3px 0px;
}

.status {
  text-align: center;
  color: white;
  padding: 4px;
  background-color: #364150;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 9px;
  margin: 3px 0px;
}
